// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@font-face {
  font-family: 'Instrument Sans';
  src: url('~assets/VoxelStoreAssets/Instrument_Sans/InstrumentSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

@media (min-width: 1280px) {
  .desktop-padding {
    padding: 0 100px 0 100px !important;
  }

  .max-width-1400 {
    max-width: 1400px;
  }
}

.no-shadow {
  box-shadow: none !important;
}

.no-padding {
  padding: 0;
  margin: 0;
}

.sub-text {
  width: 268px;
  height: 20px;

  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: rgba(26, 26, 26, 0.5);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
}